<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet"/>
    <link th:href="@{/css/jumbotron-narrow.css}" rel="stylesheet"/>
    <style type="text/css">
        #div1 {
            height: 350px;
        }
    </style>

    <script type="text/javascript">

        function validate_required(field,alerttxt)
        {
            with (field)
            {
                if (value==null||value=="")
                {alert(alerttxt);return false}
                else {return true}
            }
        }

        function validate_form(thisform)
        {
            with (thisform)
            {
                if (validate_required(newsTitle,"标题不能为空")==false)
                {newsTitle.focus();return false}
                if (validate_required(newsContent,"内容不能为空")==false)
                {newsContent.focus();return false}


            }
        }
    </script>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a th:href="@{/admin/allCategory}">类型查看</a></li>
                <li><a th:href="@{/admin/addCategory}">类型发布</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a th:href="@{/admin/allNews}">新闻查看</a></li>
                <li class="active"><a href="#">新闻发布</a></li>
            </ul>
            <!--<ul class="nav nav-sidebar">-->
                <!--<li><a th:href="@{/admin/allUser}">用户查看</a></li>-->
                <!--<li><a th:href="@{/admin/addNewsManager}">添加新闻管理员</a></li>-->
            <!--</ul>-->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h2 class="sub-header">新闻发布</h2>
            <div class="table-responsive">
                <form th:action="@{/admin/addNews/post}" onsubmit="return validate_form(this)" method="post">
                    <div class="input-group">
                        <span class="input-group-addon">新闻标题</span>
                        <input name="newsTitle" type="text" class="form-control" placeholder="待添加新闻类型名"/>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">新闻类别</span>
                        <select name="newsCategoryName" class="form-control">
                            <!--这里迭代所有分类的name-->
                            <div th:each="category : ${categoryList}">
                                <option name="newsCategoryName" th:value="${category.name}" th:text="${category.name}">1</option>
                            </div>

                        </select>
                    </div>
                    <div class="input-group" >
                        <span class="input-group-addon">新闻内容</span>
                        <input id="content" type="hidden" name="newsContent" value=""/>
                        <!--todo 富文本编辑器怎么提交?目前将图片和富文本作为html内容直接传递给数据库保存，在查看时直接将html内容取出来，然后js来将内容赋值给对应的容器来展示-->
                        <div id="div1">
                            <p>请输入内容...</p>
                        </div>
                    </div>
                    <br/>
                    <input id="btn1" class="form-control" type="submit" value="提交"/>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/wangEditor.min.js}"></script>
<script type="text/javascript">
        var E = window.wangEditor;
        var editor = new E('#div1');
        // 自定义菜单配置
        editor.customConfig.menus = [
            'image',
            'bold',  // 粗体
            'italic',  // 斜体
            'underline',  // 下划线
            'strikeThrough',  // 删除线
            'foreColor',  // 文字颜色
            'backColor',  // 背景颜色
            'code',  // 插入代码
            'justify',  // 对齐方式
            'quote',  // 引用
            'emoticon',  // 表情
            'undo',  // 撤销
            'redo'  // 重复
        ];

        // 上传图片（举例）
        // editor.customConfig.uploadImgServer = '/upload';todo 富文本
        editor.customConfig.uploadImgShowBase64 = true;//使用 base64 编码直接将图片插入到内容中

//        // 配置自定义参数（举例）
//        editor.config.uploadParams = {
//            token: 'abcdefg',
//            user: 'wangfupeng1988'
//        };

//        // 设置 headers（举例）
//        editor.config.uploadHeaders = {
//            'Accept' : 'text/x-json'
//        };

        // 隐藏掉插入网络图片功能。
        //editor.customConfig.showLinkImg = false;
        editor.create();

        document.getElementById('btn1').addEventListener('click', function () {//todo 富文本
            // 读取 html,赋值给content容器
            document.getElementById('content').value=editor.txt.html();
        }, false);
</script>
</body>
</html>
