<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/dashboard.css}" rel="stylesheet"/>
    <link th:href="@{/css/jumbotron-narrow.css}" rel="stylesheet"/>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a th:href="@{/admin/allCategory}">类型查看</a></li>
                <li><a th:href="@{/admin/addCategory}">类型发布</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">新闻查看</a></li>
                <li><a th:href="@{/admin/addNews}">新闻发布</a></li>
            </ul>
            <!--<ul class="nav nav-sidebar">-->
                <!--<li><a th:href="@{/admin/allUser}">用户查看</a></li>-->
                <!--<li><a th:href="@{/admin/addNewsManager}">添加新闻管理员</a></li>-->
            <!--</ul>-->
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

            <h2 class="sub-header">新闻查看</h2>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    选择新闻分类
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li th:each="category:${categoryList}">
                        <a th:href="@{/admin/allNews(categoryName=${category.name})}" th:text="${category.name}"></a>
                    </li>
                </ul>
            </div><br />
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>新闻标题</th>
                        <th>新闻发布时间</th>
                        <th>更新操作</th>
                        <th>删除操作</th>
                    </tr>
                    </thead>
                    <tr th:each="news:${page.content}">
                        <td th:text="${newsStat.count}">1,001</td>
                        <td th:text="${news.title}">Lorem</td>
                        <td th:text="${news.date}">ipsum</td>
                        <td><a th:href="@{/admin/updateNews(nid=${news.id})}">更新</a></td>
                        <td><a th:href="@{/admin/deleteNews(nid=${news.id})}">删除</a></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
