<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>SimMeg</title>

    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <!--<link href="css/jumbotron-narrow.css" rel="stylesheet">-->
    <link th:href="@{/css/justified-nav.css}" rel="stylesheet"/>

</head>

<body>


<div class="container">

    <div class="masthead">
        <h2 class="text-muted">SimMeg</h2>
        <nav>
            <ul class="nav nav-justified">
                <li class="active"><a th:href="@{/}">首页</a></li>
                <!--固定分类-->
                <li><a th:href="@{/category(name=yule)}">娱乐</a></li>
                <li><a th:href="@{/category(name=junshi)}">军事</a></li>
                <li><a th:href="@{/category(name=keji)}">科技</a></li>
                <li><a th:href="@{/category(name=shehui)}">社会</a></li>
                <li>
                    <div class="btn-group" style="width: 1% ">
                        <button style="border: 0px;color: #777;font-weight: bold;background-image: linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);margin-left: 90px"
                                type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            更多<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <!--注意迭代标签要放在准备迭代的地方，比如在这里那么他会循环输出n个li标签，如果防在上面的ul上就只会输出n个ul，导致只有1个li-->
                            <li th:each="category:${categoryList}">
                                <a th:href="@{/category(name=${category.name})}" th:text="${category.name}"></a>
                            </li>
                        </ul>
                    </div>

                </li>
            </ul>
        </nav>
        <!-- Single button -->

    </div>



    <div class="jumbotron" id="container" th:each="news:${page.getContent()}">
        <!--<div id="news_img" class="pull-left"><img src="img/test.png"/></div>-->
        <h2><a id="news_title" th:href="@{/news/detail(id=${news.id})}" th:text="${news.title}"> Marketing stuff!</a></h2>
        <p id="news_content" class="lead" th:text="${#strings.substring(news.content,0,15)}">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo</p>
        <!--<p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>-->
    </div>
    <!--todo 分页-->
    <div class="jumbotron" id="container_more" th:object="${page}">
        <!--分页器+spring data分页器接口org.springframework.data.domain.Page -->
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li data-th-classappend="*{first} ? 'disabled' : ''">
                    <a th:href="@{/category(name=${page.content[0].category.name},page=${page.number}-1)}" data-th-attr="pageIndex=${page.number} - 1" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>

                <!-- 迭代生成页码 -->
                <li data-th-each="i : ${#numbers.sequence(1, page.totalPages)}"
                    data-th-classappend="${(page.number + 1) eq i} ? 'active' : ''" >
                    <a class="page-link" data-th-attr="pageIndex=${i} - 1" th:href="@{/category(name=${page.content[0].category.name},page=${i}-1)}">
                        <span data-th-text="${i}"></span>
                    </a>
                </li>
                <li data-th-classappend="*{last} ? 'disabled' : ''">
                    <a th:href="@{/category(name=${page.content[0].category.name},page=${page.number}+1)}" data-th-attr="pageIndex=${page.number} + 1" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Site footer -->
    <footer class="footer">
        <p>&copy; 2017 lee.</p>
    </footer>

</div> <!-- /container -->
</body>
</html>